* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

button{
    background-color:rgb(236, 145, 9);
    border: none;

    
}

.calculator{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: 300px;
    border: solid 1px black;
    background-color: rgb(61, 60, 60);
    color: white;
}

.display{
    height: 70px;
    font-size: 35px;
    text-align: end;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.calculator_buttons{   
    display: flex;
    flex-wrap:wrap;
    flex: 1;
    gap: 2px;
}

.calculator_buttons button {
    flex: 0 0 calc((100% - 8px) / 5);
    height: calc((100% - 8px) / 5);
    border: none;
    background-color: rgb(236, 145, 9);
}

#equals{
    flex-grow: 1;
}